@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
#basl_button {
  font-family: "Press Start 2P", cursive;
}

@media only screen and (max-width: 600px) {
  .mobile-hidden {
    display: none !important;
  }
  .mobile-show {
    display: block;
  }
}